<configuration>

    <appender name="JSON_REQUEST" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                {"ts":"%d{ISO8601}","level":"%p","logger":"%c{1}","msg":"%replace(%m){'\n',''}","traceId":"%X{traceId}","user":"%X{user}"}%n
            </pattern>
        </encoder>
    </appender>

    <!-- Normal colored pattern for all other logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- REQUEST logger uses JSON -->
    <logger name="REQUEST" level="INFO" additivity="false">
        <appender-ref ref="JSON_REQUEST"/>
    </logger>

    <!-- Everything else uses normal console -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
